{% extends 'base.html'%}

{%block content%}
<div class="container">
    <h1 class="text-center">MiniMusic</h1>
    <div class="row">
        <div class="max-w-xl bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="flex" style="justify-content: center;">
                <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="object-cover" style="justify-content: center;">
                <div class="absolute p-4 inset-0 flex flex-col justify-end bg-gradient-to-b from-transparent to-gray-900 backdrop backdrop-blur-5 text-black">
                    <h2 class="font-bold artist">Artist</h2>
                    <span class="opacity-70 song-title">Album Title</span>
                </div>
            </div>
            <div>
                <div class="relative h-1 bg-gray-200 progress_container">
                    <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                        <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="currentDuration">
                  0:00
                </div>
                <div class="flex">
                  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Prev
                    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="19 20 9 12 19 4 19 20"></polygon><line x1="5" y1="19" x2="5" y2="5"></line></svg>
                  </button>
                  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Playing
                    <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                  </button>
                  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Next
                    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 4 15 12 5 20 5 4"></polygon><line x1="19" y1="5" x2="19" y2="19"></line></svg>
                  </button>
                </div>
                <div class="Duration">
                  0:00
                </div>
              </div>
            <ul class="text-xs sm:text-base divide-y border-t cursor-default audio-tracks">
                {% for music in musics %}
                
                <li class="flex">
                  <button class="p-3 hover:bg-green-500 group focus:outline-none play_single">
                    <svg class="w-4 h-4 group-hover:text-white play_svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                  </button>
                  <div class="flex-1">
                    Artist- <Title></Title>
                  </div>
                  <div class="text-xs text-gray-400">
                    Time lenght
                  </div>
                  <a href="" class="focus:outline-none pr-4 group">
                    <svg class="w-4 h-4 group-hover:text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>
                  </a>
                </li>
                {% endfor %}
                
              </ul>
                
        </div>

    </div>
     

    
</div>

{%endblock%}