{% extends 'base.html'%}

{%block content%}
<div class="container">
    <h1 class="text-center">MiniMusic</h1>
    <div class="row">
        <div class="max-w-xl bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="flex" style="justify-content: center;">
                <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="object-cover" style="justify-content: center;">
                <div class="absolute p-4 inset-0 flex flex-col justify-end bg-gradient-to-b from-transparent to-gray-900 backdrop backdrop-blur-5 text-black">
                    <h2 class="font-bold artist">Artist</h2>
                    <span class="opacity-70 song-title">Album Title</span>
                </div>
            </div>
            <div>
                <div class="relative h-1 bg-gray-200 progress_container">
                    <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                        <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="currentDuration" style="text-align: left;">
                  0:00
                </div>
                <div class="flex" style="text-align: center;">
                    <button style="width: 50px; height: 50px; " class="prev">Prev</button>
                    <button style="height: 50px; width: 50px;" class="playing">Play</button>
                    <button style="height: 50px; width: 50px;" class="next">Next</button>  
                </div>
                <div class="Duration" style="text-align: right;">
                  0:00
                </div>
              </div>
              <div>
                <div class="relative h-1 bg-gray-200 progress_container">
                    <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                        <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                    </div>
                </div>
            </div>
            <ul class="text-xs sm:text-base divide-y border-t cursor-default audio-tracks">
                {% for music in music%}
                <div class="card">
                    <button style="width: 50px; height: 50px; text-align: right;">Play</button>
                    <div class="flex">
                      {{music.artist}} - {{music.title}}
                    </div>
                    <div class="text-xs text-gray-400" style="text-align: left ;">
                      {{music.time_length}}
                    </div>
                    
                    <button style="width: 50px; height: 50px; text-align: left;">Load</button> 
          {%endfor%}


            </ul>
          

                  </div>

        </div>

    <audio class="audio-player" preload="metadata" autoplay="false" src="/media/musics/grace_carter_silence_mp3_72681.mp3" ></audio>


    {{music_list | json_script:'musics'}}

    <script>
        const player = document.querySelector('.audio-player')
        const play = document.querySelector('.playing')
        const prev = document.querySelector('.prev')
        const next = document.querySelector('.next')
        const duration = document.querySelector('.Duration')
        const currentTime = document.querySelector('.currentDuration')
        const song_title = document.querySelector('.song-title')
        const progress= document.querySelector('.progress')
        const progress_container = document.querySelector('.progress_container')
        const audio_tracks= document.querySelector('.audio-tracks')
        const artist = document.querySelector('.artist')
        
        
    </script>
    
    </div>
</div>

{%endblock%}