{% extends 'base.html'%}

{%block content%}
<div class="container">
    <h1 class="text-center">MiniMusic</h1>
    <div class="row">
        <div class="max-w-xl bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="flex" style="justify-content: center;">
                <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="object-cover" style="justify-content: center;">
                <div class="absolute p-4 inset-0 flex flex-col justify-end bg-gradient-to-b from-transparent to-gray-900 backdrop backdrop-blur-5 text-black">
                    <h2 class="font-bold artist">Artist</h2>
                    <span class="opacity-70 song-title">Album Title</span>
                </div>
            </div>
            <div>
                <div class="relative h-1 bg-gray-200 progress_container">
                    <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                        <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="currentDuration" style="text-align: left;">
                  0:00
                </div>
                <div class="flex" style="text-align: center;">
                    <button style="width: 50px; height: 50px;">Prev</button>
                    <button style="height: 50px; width: 50px;">Play</button>
                    <button style="height: 50px; width: 50px;">Next</button>  
                </div>
                <div class="Duration" style="text-align: right;">
                  0:00
                </div>
              </div>
              <div>
                <div class="relative h-1 bg-gray-200 progress_container">
                    <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                        <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                    </div>
                </div>
            </div>
            {% for music in music%}
                  <div class="card">
                      <button style="width: 50px; height: 50px; text-align: right;">Play</button>
                      <div class="flex">
                        {{music.artist}} - {{music.title}}
                      </div>
                      <div class="text-xs text-gray-400" style="text-align: left ;">
                        {{music.time_length}}
                      </div>
                      
                      <button style="width: 50px; height: 50px; text-align: left;">Load</button> 
            {%endfor%}

                  </div>

        </div>
    </div>
</div>

{%endblock%}