<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: whitesmoke; text-shadow: rgb(206, 201, 201);font-family: 'Style Script', cursive; font-weight: bold;">Mini Music</a>
          </div>
  </div>
</nav>
</body>
</html>